body {
    margin: 0;
    background-color: #ebebeb;
    font-family: Arial,sans-serif;
}

html, body, .root {
    height: 100vh
}
.root {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end; }


.main-container
{
    align-self: flex-start;
    display: flex;
    margin: 0 auto;
    min-width: 600px;
}

header {
    font-family: arial,sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 2% auto;
    min-width: 346px;
    flex-wrap: none;
}


.left{
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
}

.left > label{
    padding: 10px;
    border-bottom: grey 1px double;
    transition: all 0.8s;
}

.left > label:hover {background-color: #262626; color: white;  transition: all 0.8s; cursor: pointer}
.f {visibility: hidden; position: fixed; top:-100%}

.center{

    margin: 0 15px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
            "a b b"
            "c d e"
            "f f g"
            "h h h";
    align-items: stretch;
    grid-gap: 15px;
}

.imgbox {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.gridimg{
    width: 100% ;
    min-height: 100%;
    z-index: 20;
    opacity: 0.75;
    transition: all 0.8s;
}

.description{
    font-family: UbuntuRegular, Arial, sans-serif;
    font-size: 14px;
    position: absolute;
    background-color: black;
    opacity: 0;
    color: #FFF;
    padding: 15px;
    top:70%;
    left:3px;
    z-index: 50;
    transition: all 0.8s;
    transition-delay: 0.2s;
}

.imgbox:nth-child(1) {grid-area: a}
.imgbox:nth-child(1) > .description:after {content: 'Алексей, 3,5 года'}

.imgbox:nth-child(2) {grid-area: b}
.imgbox:nth-child(2) > .description:after {content: 'Инакентий, 1,2 года'}

.imgbox:nth-child(3) {grid-area: c}
.imgbox:nth-child(3) > .description:after {content: 'Симба, 1 год'}

.imgbox:nth-child(4) {grid-area: d}
.imgbox:nth-child(4) > .description:after {content: 'Кермит, 6 мес'}

.imgbox:nth-child(5) {grid-area: e}
.imgbox:nth-child(5) > .description:after {content: 'Олди, 5 лет'}

.imgbox:nth-child(6) {grid-area: f}
.imgbox:nth-child(6) > .description:after {content: 'Урлан, 1,5 года'}

.imgbox:nth-child(7) {grid-area: g}
.imgbox:nth-child(7) > .description:after {content: 'Андерсн, 7 мес'}

.imgbox:nth-child(8) {grid-area: h}
.imgbox:nth-child(8) > .description:after {content: 'Розалия, 2,5 года'}

.imgbox:hover > .gridimg {opacity: 1; transition: all 0.8s}
.imgbox:hover > .description {opacity: 0.6; transition: all 1s}

#f1:checked ~ .main-container .center .imgbox img {opacity:0.5}
#f2:checked ~ .main-container .center .imgbox img {opacity:0.5}
#f3:checked ~ .main-container .center .imgbox img {opacity:0.5}
#f4:checked ~ .main-container .center .imgbox img {opacity:0.5}

#f1:checked ~ .main-container .left > #f1_label {background-color: #262626; color: white}
#f1:checked ~ .main-container .center .imgbox:nth-child(2) img {opacity:1}
#f1:checked ~ .main-container .center .imgbox:nth-child(4) img {opacity:1}

#f2:checked ~ .main-container .left > #f2_label {background-color: #262626; color: white}
#f2:checked ~ .main-container .center .imgbox:nth-child(1) img {opacity:1}
#f2:checked ~ .main-container .center .imgbox:nth-child(5) img {opacity:1}
#f2:checked ~ .main-container .center .imgbox:nth-child(8) img {opacity:1}

#f3:checked ~ .main-container .left > #f3_label {background-color: #262626; color: white}
#f3:checked ~ .main-container .center .imgbox:nth-child(6) img {opacity:1}

#f4:checked ~ .main-container .left > #f4_label {background-color: #262626; color: white}
#f4:checked ~ .main-container .center .imgbox:nth-child(3) img {opacity:1}
#f4:checked ~ .main-container .center .imgbox:nth-child(7) img {opacity:1}

.right{
    background-color: #d9d9d9;
    padding: 10px;
    align-self: flex-start;
}

.right > .raitingbox{
    width: 200px;
    display: flex;
    flex-direction:column;
}

.right > h1 {
    color: rgb(212, 1, 1);
    text-transform: uppercase;
    font-size: x-large;
    margin-bottom: 10px;
}

.right > #sort {
    position: relative;
    margin-left: 30%;
    margin-bottom: 10px;
}

.right .raitingbox div > meter {  width: 150px  }
.right .raitingbox div > meter::-webkit-meter-bar {  background: rgba(255, 255, 255, 0);  }
.right .raitingbox div > meter::-webkit-meter-optimum-value {  background: linear-gradient(90deg, rgb(120, 230, 120) 0%, white 95%, rgba(255,255,255,0) 100%);  }
.right .raitingbox div > meter::-webkit-meter-suboptimum-value {  background: linear-gradient(90deg, rgb(250, 220, 52) 0%, white 95%, rgba(255, 255, 255, 0) 100%);  }
.right .raitingbox div > meter::-webkit-meter-even-less-good-value {  background: linear-gradient(90deg, rgb(247, 54, 54) 0%, white 95%, rgba(255, 255, 255, 0) 100%);  }


.right div > .raiting
{
    padding-left: 10px;
}

#sort:checked ~ .raitingbox > div:nth-child(3) {order: 1;}
#sort:checked ~ .raitingbox > div:nth-child(1) {order: 2;}
#sort:checked ~ .raitingbox > div:nth-child(2) {order: 3;}
#sort:checked ~ .raitingbox > div:nth-child(4) {order: 4;}

footer {
    width: 100%;
    min-width: 530px;
    padding: 15px 0;

}
footer > div:nth-child(2) {float: left}
footer > div:nth-child(3){color: rgb(51, 51, 146); float: right}
